<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program</key>
	<string>/Library/Input Methods/yuzKey.app/Contents/Resources/yuzKeyConverter.app/Contents/MacOS/yuzKeyConverter</string>
	<key>Label</key>
	<string>io.github.shinespark.inputmethod.Japanese.Converter</string>
	<key>MachServices</key>
	<dict>
		<key>io.github.shinespark.inputmethod.Japanese.Converter.session</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
